<header>
    <link href="https://fonts.googleapis.com/css?family=Lato:100,300,300i,400" rel="stylesheet">
    <link rel="stylesheet" href="../../public/css/QuestionStyle.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css">
    <link rel="stylesheet" href="http://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
    <nav>
        <div class="blur"></div>
        <div class="header-cotain">
            <h1 class="title" onclick="location.href='/main';">Knowledge</h1>
            <button type="submit" class="PostQuestion" data-toggle="modal" data-target="#myModal">Ask</button>
            <ul class="Navigation">
                <li>
                    <a href="/start/login">Log in</a>
                </li>
                <li>
                    <a href="/start/signup">Sign Up</a>
                </li>
            </ul>
        </div>
    </nav>
</header>
<section class="intent-space">
</section>

<section class="question-section">
    <div class="container">
        <div class="question-box jq-question-box">

            <div class="question">
                <a href="#">{{QuestionBody.title}}</a>
            </div>
            <div class="questionDesctiption">
                <p>{{QuestionBody.description}}</p>
            </div>
            <div class="questionAuthor">
                <p>{{QuestionBody.author}}</p>
            </div>
        </div>
    </div>

    </div>
</section>

{{#each answerArray}}
<div class="answer_and_comment">
    <section class="answer-section">
        <div class="container">
            <div class="answer-box">
                <div class="Author">
                    <p>{{username}}</p>
                </div>
                <div class="answer">
                    <p>{{answer_description}}</p>
                </div>
                <form id="answer_agree" class="btnbtn btn-accept" action="/question/{{questionId}}/{{_id}}" method="post">
                    <i class="ion-arrow-up-b icon-small"></i>
                    <input id="agreebtn" class="agreebtn" name="agreebtn" type="submit" value="{{agree}}" />
                </form>
                <form class="btnbtn btn-dccept" action="/question/{{questionId}}/{{_id}}/disgree" method="post">
                    <i class="ion-arrow-down-b icon-small"></i>
                    <input id="disagreebtn" class="disagreebtn" name="disagreebtn" type="button" value="{{disagree}}" />
                </form>
                <form class="btnbtn btn-comment js-comment-icon">
                    <i class="ion-chatbubble icon-small"></i>
                    <input class="commentbtn" name="commentbtn" data-toggle="collapse" data-target="#demo" type="button" value="comment" />
                </form>
            </div>
        </div>
        {{#each comment}}
        <section class="comment-section js-comment-section">
            <div class="container comment-box">
                <div class="Acomment">
                    <div class="comment">
                        <p>{{comment_description}}<p>
                    </div>
                    <div class="comment-author">
                        <p>{{username}}</p>
                    </div>
                </div>
                {{!--
                <br style="clear:both;" /> --}}
            </div>
        </section>
        {{/each}}
    </section>



    <div id="demo" class="collapse container commentInput">
        <form class="input-append" method="post" action="/question/{{questionId}}/{{_id}}/postComment">
            <input class=" " id="appendedInputButton" type="text" placeholder="What do you think?" name="commentText">
            <input class="btn" type="submit" value="Comment it!" name="postComment">
    </div>
</div>
{{/each}}
<section class="Write_answer_section">
    <div class="container">
        <form action="/question/{{questionId}}" method="post" class="write_answer_form">
            <div class="question_post_area">
                <textarea name="answerdescription" placeholder="Write down your answer"></textarea>
            </div>
            <div class="submit-btn">
                <input type="submit" value="Submit" name="postquestion" id="postquestion"></input>
            </div>
        </form>
    </div>
</section>


{{#if question.length}}
<footer>
    <div class="row Producer">
        <p>Copyright&copy;2017 by Pintaigao He.All right reserved</p>
    </div>
</footer>
{{/if}}

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="../../public/bootstrap/js/bootstrap.min.js"></script>
<script src="../public/JS/jquery.waypoints.min.js"></script>
<script src="../../public/js/QuestionScript.js"></script>