<header>
    <link href="https://fonts.googleapis.com/css?family=Lato:100,300,300i,400" rel="stylesheet">
    <link rel="stylesheet" href="http://code.ionicframwwork.com/ionicons/2.0.1/css/ionicons.min.css">
    <link rel="stylesheet" href="../../public/css/style.css">
    <nav>
        <div class="blur"></div>
        
        <div class="header-cotain">
                <h1 class="title">Knowledge</h1>
            <button type="submit" class="PostQuestion" data-toggle="modal" data-target="#myModal">Ask</button>
            <ul class="Navigation">
                <li>
                    <a href="/userPage/{{userId}}">MyPages</a>
                </li>
                <li>
                    <a href="/login">Log out</a>
                </li>
            </ul>
        </div>
    </nav>
</header>
<section class="intent-space"></section>

<section class="question-section">
    <div class="container">
        <div class="box">
            {{#each questionArray}}
            <div class="question-box jq-question-box">
                <div class="author">
                    <p> {{username}}</p>
                </div>
                <div class="question">
                    <a href="/question/{{_id}}"> {{title}}</a>
                </div>
                <div class="answer">
                    <p> {{description}}</p>
                </div>
                <div class="btnbtn btn-accept">
                    <a href="#">
                        <i class="ion-arrow-up-b icon-small"></i>54 </a>
                </div>
                <div class="btnbtn btn-dccept">
                    <a href="#">
                        <i class="ion-arrow-down-b icon-small"></i>46 </a>
                </div>
            </div>
            {{/each}}
        </div>
    </div>
</section>
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="height:100px">
            <div class="modal-dialog" >
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;
                        </button>
                        <h2 class="modal-title" id="myModalLabel">Write Down Your Question </h2>
                        <h4 class="modal-title" id="myModalLabel">Descripting your question more in detail will get a better answer </h4>
                    </div>
                    <form method="post" action="/postquestion" accept-charset="UTF-8">
                        <div class="modal-body">
                            <input id="question_input" class="form-control" type="text" placeholder="Your Question" name="question_input">
                            <p>Description of Question: </p>
                            <textarea id="question_description" class="form-control" type="text" placeholder="Background,Situation or any other detial information"
                                name="question_description"></textarea>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">close </button>
                            <button type="submit" class="btn btn-primary">Submit </button>
                        </div>
                    </form>
                </div>
                <!-- /.modal-content -->
            </div>
            <!-- /.modal -->
        </div>
{{#if questionArray.length}}
<footer>
    <div class="row Producer">
        <p>Copyright&copy; 2017 by Pintaigao He.All right reserved</p>
    </div>
</footer> {{/if}}
<script src="http://code.jquery.com/jquery.js"></script>
<script src="../../public/bootstrap/js/bootstrap.min.js"></script>